{erl_opts, [debug_info,{i, include}]}.
{deps, [
{eunit_formatters, ".*", {git,
"git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
]}.
{eunit_opts, [
no_tty,  %% This turns off the default output, MUST HAVE
{report, {eunit_progress, [colored, profile]}}
]}.

%% Use profile to see test timing information
%% Uses the progress formatter with ANSI-colored output


{relx, [
    {release, {notification_server, "1.0.0"},
     %% list of apps to include
     [notification_server]},

    %% Don't ship an Erlang VM by default
    {include_erts, false},

    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    %% called as `rebar3 as prod <command>`
    {prod, [
        {relx, [ % override relx specifically
          {include_src, false}, % don't include source code
          {include_erts, true}  % include the VM in the release
        ]}
    ]}
]}.
